<RIBCL VERSION="2.0">
   <LOGIN USER_LOGIN="{{ item.management.user }}" PASSWORD="{{ item.management.password }}">
      <USER_INFO MODE="write">
         <MOD_USER USER_LOGIN="{{ item.management.user }}">
            <VIRTUAL_MEDIA_PRIV value="N"/>        
         </MOD_USER>
      </USER_INFO>
   </LOGIN>
</RIBCL>